.demo-list-item {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;
}

.ml-items {
    margin-left: 20px;
}

#contenedor-entrada {
    display: flex;
    width: 100%;
    padding: 10px;
}

.mt-boton-borrar-all {
    margin-top: 10px; 
}

img {
    width: 100%;
    border-radius: 20px;
}

#contenedor-imagen {
    padding : 10px;
}

