.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.ml-item {
    margin-left: 20px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.page-content {
}