.demo-list-item {
    width: 100%;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.ml-item {
    margin-left : 20px;
}

.page-content {
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}